<button mat-button [routerLink]="['/transfer/added-list']">Transfers</button>

<mat-card class="account-details-container">
  <div class="account-details">
    <app-combo-box
      (selectedValue)="selectedAccountFrom($event)"
      [comboBoxProcessType]="comboBoxProcessType.ACCOUNT_SEARCH"
      [comboBoxType]="comboBoxType.SEARCH_AND_FIND"
      [label]="'From Account'"
    ></app-combo-box>
  </div>
  <div class="account-details">
    <app-combo-box
      (selectedValue)="selectedAccountTo($event)"
      [comboBoxProcessType]="comboBoxProcessType.ACCOUNT_SEARCH"
      [comboBoxType]="comboBoxType.SEARCH_AND_FIND"
      [label]="'To Account'"
    ></app-combo-box>
  </div>
</mat-card>

<app-transfer-add
  [transferForm]="transferForm"
  [balanceTo]="transferToDetails?.balance"
  [balanceFrom]="transferFromDetails?.balance"
></app-transfer-add>
