<app-configuration-details></app-configuration-details>
<form class="main-form" [formGroup]="transferForm" (ngSubmit)="addTransfer()">
  <div class="transfer-form-container" *ngrxLet="configuration$ as configuration">
    <mat-accordion class="headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Configure transfer </mat-panel-title>
          <mat-panel-description>
            Transfer details: {{ valueInPln.value }} PLN
            <mat-icon>payment</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-configuration-form [configurationForm]="transferConfigurationForm"></app-configuration-form>

        <mat-action-row>
          <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Destination </mat-panel-title>
          <mat-panel-description>
            To account
            <mat-icon>credit_score</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-transfer-add [transferForm]="transferDestinationForm"></app-transfer-add>

        <mat-action-row>
          <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Transfer lines </mat-panel-title>
          <mat-panel-description>
            Categorize your transfer
            <mat-icon>payments</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="transfer-lines-container">
          <div class="transfer-line-forms">
            <div class="transfer-line-form" *ngFor="let transferLine of transferLinesForm.controls; index as i">
              <app-transfer-line-add
                [index]="i"
                [transferLineForm]="transferLine"
                (deleteLine)="removeTransferLine(i)"
              ></app-transfer-line-add>
            </div>
          </div>
        </div>

        <mat-action-row>
          <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" type="button" (click)="nextStep()">End</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="divider"></div>

  <app-transfer-footer
    [isValid]="transferConfigurationForm.valid && transferDestinationForm.valid && transferLinesForm.valid"
    (addTransferLine)="addTransferLine()"
    class="transfer-footer"
  ></app-transfer-footer>
</form>
