.main-form {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 354px);
  margin-top: 10px;
  width: 100%;
  justify-content: space-between;

  @media (min-width: 600px) {
    height: calc(100vh - 277px);
  }
}

.headers-align {
  .mat-expansion-panel-header-title {
    flex-basis: 0;
  }

  .mat-expansion-panel-header-description {
    flex-basis: 0;
    justify-content: space-between;
    align-items: center;
  }

  .mat-form-field+.mat-form-field {
    margin-left: 8px;
  }

}

.headers-align .divider {
  display: flex;
  flex: 1 0 auto;
}
