@import '~@angular/material/_theming.scss';
@import './../../../../../../../assets/theme';

:host {
  display: block;
  margin: 5px;
}

div.banner-icon {
  align-items: center;
  justify-content: center;
  display: flex;
}

.mat-card-content,
.mat-card-actions {
  margin: 0;
}

.error {
  background-color: mat-color($mat-warn, darker);
}

.warn {
  background-color: mat-color($mat-primary, 200);
}

.info {
  background-color: #243494;
}

.success {
  background-color: mat-color($mat-accent, darker);
}
