<div class="container">
  <div class="menu-container">
    <div class="menu-button" routerLink="/game">
      <h1>Menu</h1>
    </div>
    <div class="button"><input type="button" value="Start" routerLink="start" /></div>
    <div class="button"><input type="button" value="Setting" routerLink="setting" /></div>
    <div class="button"><input type="button" value="Profile" routerLink="profile" /></div>
    <div class="button"><input type="button" value="Exit" routerLink="/" /></div>
  </div>

  <div class="option-container">
    <router-outlet></router-outlet>
  </div>
</div>
