@import './../../../../../../../assets/theme';
@import '~@angular/material/_theming.scss';

:host {
  display: flex;
}

.details-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .label-icon {
    display: none;

    @media (min-width: 600px) {
      display: block;
      margin-right: 5px;
    }
  }

  .main-detail {
    display: flex;
    flex-direction: column;

    .title {
      line-height: 17px;
      font-size: 14px;

      &>span {
        color: mat-color($mat-accent, lighter);
      }
    }

    .sub-title {
      line-height: 10px;
      font-size: 8px;
    }
  }
}
