<div [formGroup]="transferLineForm">
  <div class="transfer-line-group">
    <mat-form-field appearance="fill" class="transfer-line-field">
      <mat-label>Value </mat-label>
      <input formControlName="value" matInput placeholder="Ex. Food" />
      <mat-error *ngIf="value.hasError('required')"> From Account is <strong>required</strong> </mat-error>
    </mat-form-field>

        <mat-form-field appearance="fill" class="transfer-field">
      <mat-label>Currency</mat-label>
      <mat-select formControlName="currency">
        <mat-option *ngFor="let currency of currencies" [value]="currency.value">
          {{ currency.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="transfer-line-field">
      <mat-label>Category</mat-label>
      <input formControlName="categoryId" matInput placeholder="Ex. Food" />
      <mat-error *ngIf="categoryId.hasError('required')"> Category is <strong>required</strong> </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="transfer-line-field">
      <mat-label>Group</mat-label>
      <input formControlName="groupId" matInput placeholder="Ex. Food" />
      <mat-error *ngIf="groupId.hasError('required')"> Group is <strong>required</strong> </mat-error>
    </mat-form-field>
  </div>

  <div class="transfer-line-group">
    <mat-form-field appearance="fill" class="transfer-line-field">
      <mat-label>Product</mat-label>
      <input formControlName="productId" matInput placeholder="Ex. Food" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="transfer-line-field">
      <mat-label>Project</mat-label>
      <input formControlName="projectId" matInput placeholder="Ex. Food" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="transfer-line-field">
      <mat-label>Target</mat-label>
      <input formControlName="targetId" matInput placeholder="Ex. Food" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="transfer-line-field">
      <mat-label>Event</mat-label>
      <input formControlName="eventId" matInput placeholder="Ex. Food" />
    </mat-form-field>
  </div>
</div>
