<div [formGroup]="transferLineForm">
  <div class="transfer-line-group">
    <mat-form-field appearance="fill" class="transfer-line-field">
      <mat-label>Value </mat-label>
      <input formControlName="value" matInput placeholder="Ex. Food" />
      <span matSuffix>{{ currency.value }}&nbsp;</span>
      <mat-error *ngIf="value.hasError('required')"> From Account is <strong>required</strong> </mat-error>
    </mat-form-field>

    <div class="transfer-line-field">
      <app-combo-box
        (selectedValue)="selectCategory($event)"
        [comboBoxProcessType]="comboBoxProcessType.CATEGORY_SEARCH_OR_CREATE"
        [comboBoxType]="comboBoxType.SEARCH_OR_CREATE"
        label="Category"
      >
      </app-combo-box>
    </div>

    <div class="transfer-line-field">
      <app-combo-box
        (selectedValue)="selectGroup($event)"
        [comboBoxProcessType]="comboBoxProcessType.GROUP_SEARCH_OR_CREATE"
        [comboBoxType]="comboBoxType.SEARCH_OR_CREATE"
        label="Group"
      >
      </app-combo-box>
    </div>

    <div class="transfer-line-field">
      <app-combo-box
        (selectedValue)="selectProduct($event)"
        [comboBoxProcessType]="comboBoxProcessType.PRODUCT_SEARCH_OR_CREATE"
        [comboBoxType]="comboBoxType.SEARCH_OR_CREATE"
        label="Product"
      >
      </app-combo-box>
    </div>

    <div class="transfer-line-field">
      <app-combo-box
        (selectedValue)="selectProject($event)"
        [comboBoxProcessType]="comboBoxProcessType.PROJECT_SEARCH_OR_CREATE"
        [comboBoxType]="comboBoxType.SEARCH_OR_CREATE"
        label="Project"
      >
      </app-combo-box>
    </div>

    <div class="transfer-line-field">
      <app-combo-box
        (selectedValue)="selectEvent($event)"
        [comboBoxProcessType]="comboBoxProcessType.EVENT_SEARCH_OR_CREATE"
        [comboBoxType]="comboBoxType.SEARCH_OR_CREATE"
        label="Event"
      >
      </app-combo-box>
    </div>

    <div class="transfer-line-field">
      <app-combo-box
        (selectedValue)="selectTarget($event)"
        [comboBoxProcessType]="comboBoxProcessType.TARGET_SEARCH_OR_CREATE"
        [comboBoxType]="comboBoxType.SEARCH_OR_CREATE"
        label="Target"
      >
      </app-combo-box>
    </div>
  </div>
</div>
