<mat-expansion-panel [expanded]="false" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div>
        <button mat-button type="button" (click)="delete()"><mat-icon>clear </mat-icon></button>
        <span>Transfer line {{ index }}</span>
        <span *ngrxLet="formDetails$ as details">
          <span *ngIf="details.value">Value: {{ details.value }}</span>
        </span>
      </div>
    </mat-panel-title>
    <mat-panel-description>
      <ng-container *ngrxLet="formDetails$ as details">
        <mat-icon *ngIf="details.categoryId">category</mat-icon>
        <mat-icon *ngIf="details.eventId">event</mat-icon>
        <mat-icon *ngIf="details.expensesGroupId">paid</mat-icon>
        <mat-icon *ngIf="details.productId">inventory</mat-icon>
        <mat-icon *ngIf="details.projectId">checklist</mat-icon>
        <mat-icon *ngIf="details.targetId">adjust </mat-icon>
        <app-importance-tag [importance]="details.importance"></app-importance-tag>
      </ng-container>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-transfer-line-detail [transferLineForm]="transferLineForm"></app-transfer-line-detail>
</mat-expansion-panel>
