.transfer-line-group {
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    column-gap: 10px;
  }


  .transfer-line-field {
    width: 100%;

    @media (min-width: 600px) {
      width: unset;
    }
  }
}
