<form [formGroup]="transferLineForm">
  <div class="transfer-line-group">
    <mat-form-field appearance="fill" class="transfer-line-field">
      <mat-label>Value </mat-label>
      <input formControlName="value" matInput placeholder="123.4567" />
      <mat-error *ngIf="value.hasError('required')"> From Account is <strong>required</strong> </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select an option</mat-label>
      <mat-select [formControl]="importance">
        <mat-option value="1">Not needed</mat-option>
        <mat-option value="2">Important</mat-option>
        <mat-option value="3">Necessarily</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="transfer-line-field">
      <app-combo-box
        (selectedValue)="selectCategory($event)"
        [comboBoxProcessType]="comboBoxProcessType.CATEGORY_SEARCH_OR_CREATE"
        [comboBoxType]="comboBoxType.SEARCH_OR_CREATE"
        label="Category"
      >
      </app-combo-box>
    </div>

    <div class="transfer-line-field">
      <app-combo-box
        (selectedValue)="selectExpensesGroup($event)"
        [comboBoxProcessType]="comboBoxProcessType.GROUP_SEARCH_OR_CREATE"
        [comboBoxType]="comboBoxType.SEARCH_OR_CREATE"
        label="Group"
      >
      </app-combo-box>
    </div>

    <div class="transfer-line-field">
      <app-combo-box
        (selectedValue)="selectProduct($event)"
        [comboBoxProcessType]="comboBoxProcessType.PRODUCT_SEARCH_OR_CREATE"
        [comboBoxType]="comboBoxType.SEARCH_OR_CREATE"
        label="Product"
      >
      </app-combo-box>
    </div>

    <div class="transfer-line-field">
      <app-combo-box
        (selectedValue)="selectProject($event)"
        [comboBoxProcessType]="comboBoxProcessType.PROJECT_SEARCH_OR_CREATE"
        [comboBoxType]="comboBoxType.SEARCH_OR_CREATE"
        label="Project"
      >
      </app-combo-box>
    </div>

    <div class="transfer-line-field">
      <app-combo-box
        (selectedValue)="selectEvent($event)"
        [comboBoxProcessType]="comboBoxProcessType.EVENT_SEARCH_OR_CREATE"
        [comboBoxType]="comboBoxType.SEARCH_OR_CREATE"
        label="Event"
      >
      </app-combo-box>
    </div>

    <div class="transfer-line-field">
      <app-combo-box
        (selectedValue)="selectTarget($event)"
        [comboBoxProcessType]="comboBoxProcessType.TARGET_SEARCH_OR_CREATE"
        [comboBoxType]="comboBoxType.SEARCH_OR_CREATE"
        label="Target"
      >
      </app-combo-box>
    </div>
  </div>
</form>
