<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Welcome</mat-card-title>
    <mat-card-subtitle>Hello World</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-animation-graph></app-animation-graph>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" routerLink="test-connection">
      Check connection
      <mat-icon>rule</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Welcome</mat-card-title>
    <mat-card-subtitle>Hello World</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-animation-graph></app-animation-graph>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" routerLink="test-connection">
      Check connection
      <mat-icon>rule</mat-icon>
    </a>
  </mat-card-actions> </mat-card
><mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Welcome</mat-card-title>
    <mat-card-subtitle>Hello World</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-animation-graph></app-animation-graph>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" routerLink="test-connection">
      Check connection
      <mat-icon>rule</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Welcome</mat-card-title>
    <mat-card-subtitle>Hello World</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-animation-graph></app-animation-graph>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" routerLink="test-connection">
      Check connection
      <mat-icon>rule</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Welcome</mat-card-title>
    <mat-card-subtitle>Hello World</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-animation-graph></app-animation-graph>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" routerLink="test-connection">
      Check connection
      <mat-icon>rule</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Welcome</mat-card-title>
    <mat-card-subtitle>Hello World</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-animation-graph></app-animation-graph>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" routerLink="test-connection">
      Check connection
      <mat-icon>rule</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
