@use './../../../../../assets/scroll';

form {
  display: flex;
  width: 100%;
}

.checkbox {
  margin: 15px 0;
}

.example-margin {
  margin-right: 10px;
}

.category-card {
  display: flex;
  flex-direction: row;
}

mat-card {
  flex-direction: row;
  margin: 5px;
}

mat-form-field:first-child {
  width: 150px;
}

::ng-deep {
  .mat-select-panel {
    @extend %custom-scroll;
  }
}

.category-add-button {
  margin: 15px 0;
}

mat-form-field {
  margin: 0px 20px 0 0;

  &::ng-deep.mat-form-field-wrapper {
    height: 50px;
  }
}

.list-container {
  height: calc(100vh - 250px);
}

.account-form {
  display: flex;
  flex-direction: row;
}
