<div class="education-container">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rerum laboriosam natus fugit? Quidem unde consequuntur impedit quia
    magni nostrum eveniet nisi debitis reprehenderit? Voluptatibus perspiciatis assumenda ex id ducimus.
  </p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus aut possimus odio quas repudiandae, dignissimos eligendi corrupti earum
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rerum laboriosam natus fugit? Quidem unde consequuntur impedit quia
    magni nostrum eveniet nisi debitis reprehenderit? Voluptatibus perspiciatis assumenda ex id ducimus.
  </p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus aut possimus odio quas repudiandae, dignissimos eligendi corrupti earum
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rerum laboriosam natus fugit? Quidem unde consequuntur impedit quia
    magni nostrum eveniet nisi debitis reprehenderit? Voluptatibus perspiciatis assumenda ex id ducimus.
  </p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus aut possimus odio quas repudiandae, dignissimos eligendi corrupti earum
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rerum laboriosam natus fugit? Quidem unde consequuntur impedit quia
    magni nostrum eveniet nisi debitis reprehenderit? Voluptatibus perspiciatis assumenda ex id ducimus.
  </p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus aut possimus odio quas repudiandae, dignissimos eligendi corrupti earum
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rerum laboriosam natus fugit? Quidem unde consequuntur impedit quia
    magni nostrum eveniet nisi debitis reprehenderit? Voluptatibus perspiciatis assumenda ex id ducimus.
  </p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus aut possimus odio quas repudiandae, dignissimos eligendi corrupti earum
</div>
