.animation-box {
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 40px;
  transform: rotateX(180deg)
}

.element-1,
.element-2,
.element-3 {
  height: 30px;
  width: 10px;
  margin: 0 auto;
  border-radius: 0 0 2px 2px;
}

.element-1 {
  animation-name: stretch-1;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.element-2 {
  animation-name: stretch-2;
  animation-duration: 3.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.element-3 {
  animation-name: stretch-3;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: initial;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes stretch-1 {
  0% {
    height: 20px;
    background-color: green;
  }

  50% {
    height: 5px;
    background-color: red;
  }


  75% {
    height: 15px;
    background-color: yellowgreen;
  }

  100% {
    height: 20px;
    background-color: lightgreen;
  }
}

@keyframes stretch-2 {
  0% {
    height: 5px;
    background-color: red;
  }

  50% {
    height: 10px;
    background-color: yellowgreen;
  }

  100% {
    height: 25px;
    background-color: greenyellow;
  }
}

@keyframes stretch-3 {
  0% {
    height: 15px;
    background-color: greenyellow;
  }

  50% {
    height: 10px;
    background-color: yellow;
  }


  100% {
    height: 30px;
    background-color: green;
  }
}
