:host {
  ::ng-deep {
    * {
      // font-family: 'Press Start 2P', cursive;
      font-family: 'UnifrakturCook', cursive;
      font-size: 1.5rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      // font-family: 'Press Start 2P', cursive !important;
      font-size: 3rem !important;
      font-family: 'UnifrakturCook', cursive !important;
    }
  }
}

.box {
  padding: 20px;
}
