@use './../../../../../../assets/scroll.scss';

::ng-deep {
  .mat-select-panel {
    @extend %custom-scroll;
  }
}

form {
  display: flex;
}

.category-card {
  display: flex;
  flex-direction: row;
  // margin: 5px 0;
}

mat-card {
  flex-direction: row;
  margin: 5px;
}

mat-form-field:first-child {
  width: 120px;
}

.category-add-button {
  margin: 15px 0;
}

mat-form-field {
  margin: 0px 20px 0 0;

  &::ng-deep.mat-form-field-wrapper {
    height: 50px;
  }
}
