<div class="list-container">
  <ng-container *ngrxLet="accounts$ as accounts; let c = $complete">
    <app-no-data-info-banner *ngIf="c && accounts.length === 0"></app-no-data-info-banner>
    <mat-card class="account-card" *ngFor="let account of accounts">
      <mat-card-header>
        <mat-card-title>{{ account?.name }} </mat-card-title>
        <mat-card-subtitle>added: {{ account?.dateOfCreate | date: 'YYYY-MM-dd' }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>{{ account.balance }} {{ account.currency }}</mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openEditAccountDialog(account)">EDIT</button>
        <button mat-button (click)="deleteAccount(account?._id)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>

<app-slide-panel-container (formSubmitEmitter)="createAccount($event)"> </app-slide-panel-container>
