@import './../../../../../../assets/theme';
@import '~@angular/material/_theming.scss';

.transfer-details {
  display: flex;
  padding: 24px;
}

.configuration-details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}




.outcome {
  color: mat-color($mat-warn, 200);
}

.income {
  color: mat-color($mat-accent, 200);
}

.desktop {
  display: none;

  @media (min-width: 600px) {
    display: block;
  }
}
