<mat-card class="transfer-details">
  <mat-card-content class="configuration-details-container" *ngrxLet="configuration$ as configuration">
    <app-label-with-details [labelTitle]="configuration?.date | date: 'YYYY-MM-dd'" [labelIcon]="'calendar_today'"></app-label-with-details>

    <app-label-with-details
      [labelTitle]="configuration?.accountFromName"
      [labelSubTitle]="configuration?.accountFrom"
      [labelIcon]="'logout'"
    ></app-label-with-details>

    <app-label-with-details
      [labelTitle]="configuration?.value + ' ' + configuration?.currency"
      [labelSubTitle]="'balance: ' + configuration?.balance"
      [labelIcon]="'exposure'"
    ></app-label-with-details>

    <app-label-with-details
      [labelTitle]="configuration?.accountToName"
      [labelSubTitle]="configuration?.accountTo"
      [labelIcon]="'login'"
    ></app-label-with-details>
  </mat-card-content>
</mat-card>
